.container {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  margin-top: 60px;
}

.copy-area {
  display: flex;
  align-items: center;
}

input {
  margin: 1rem;
  padding: 0.3rem;
}

button {
  letter-spacing: 1px;
  padding: 0.3rem;
}

.copy-feedback {
  margin-left: 1rem;
  visibility: hidden;
}

.copy-feedback.active {
  visibility: visible;
}

@media screen and (max-width: 600px) {
  .container,
  .copy-area {
    flex-direction: column;
  }

  .copy-feedback {
    display: block;
    margin-top: 0.5rem;
  }
}